@font-face {
  font-family: 'fonts';
  src: url('font/fonts.eot?60400048');
  src: url('font/fonts.eot?60400048#iefix') format('embedded-opentype'),
       url('font/fonts.woff2?60400048') format('woff2'),
       url('font/fonts.woff?60400048') format('woff'),
       url('font/fonts.ttf?60400048') format('truetype'),
       url('font/fonts.svg?60400048#fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: #1b1b1b;
	overflow-x:hidden;
	width: 100%;
	height: 100%;
}

#header {
	position: fixed;
	background-color: #A68ED2;
	height: 10%;
	top:0px;
    left:0px;
	right:0px;
	opacity: 0.5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: hsla(0, 0%, 62%, 1);
}

#header .logo {
	font-size: 20px;
	color: hsla(0, 0%, 100%, 1);
	position: absolute;
	top: 30%;
}


#main {
	position: relative;
	height: 100%;
	width: 100%;
}

.lefth {
	position: relative;
	height: 0%;
	width: 0%;
}


.twitch-text, .yt-text, .gnews-text {
	text-align: center;
	color: hsla(0, 0%, 62%, 1);
	font-size: 35px;
}

.gnews-text {
	position: relative;
	top: 1830px;
}

.twitch-text {
	position: relative;
	top: 1200px;
}

.yt-text {
	position: relative;
	top: 580px;
}

#yt {
	background-color: #5b5b5b;
	height: 50%;
	width: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 25%;
	margin-left: 25%;
	background-image: url("https://i.imgur.com/i387xEo.png");
	background-size: 680px 340px;
	background-repeat: no-repeat;
	border: 1px solid #5b5b5b;
	opacity: 0.7;
}

#twitch {
	background-color: #5b5b5b;
	height: 50%;
	width: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 25%;
	margin-left: 25%;
	background-image: url("https://i.imgur.com/dcnXRwT.png");
	background-size: 680px 340px;
	background-repeat: no-repeat;
	border: 1px solid #5b5b5b;
	opacity: 0.7;
}

#gnews {
	background-color: #5b5b5b;
	height: 50%;
	width: 50%;
	margin-top: 10%;
	margin-bottom: 15%;
	margin-right: 25%;
	margin-left: 25%;
	background-image: url("https://i.imgur.com/2sWN9yn.png");
	background-size: 680px 340px;
	background-repeat: no-repeat;
	border: 1px solid #5b5b5b;
	opacity: 0.7;
}

#yt:hover, #twitch:hover, #gnews:hover {
	opacity: 1;
	transform: scale(1.30);
	transition: transform .25s ease;
}

.contact {
	position: fixed;
	top: 220px;
	left: 105px;
	padding: 10px;
	opacity: 0.7;
	z-index: 1;
}

.paypal {
	position: fixed;
	top: 320px;
	left: 120px;
	opacity: 0.7;
	z-index: 1;
}

.firefox-yt {
	position: fixed;
	top: 220px;
	right: 140px;
	opacity: 0.7;
}

.github-yt {
	position: fixed;
	top: 320px;
	right: 140px;
	opacity: 0.7;
}

.firefox-twitch {
	position: fixed;
	top: 900px;
	right: 140px;
	opacity: 0.7;
}

.github-twitch {
	position: fixed;
	top: 1000px;
	right: 140px;
	opacity: 0.7;
}

.firefox-gnews {
	position: fixed;
	top: 1555px;
	right: 140px;
	opacity: 0.7;
}

.github-gnews {
	position: fixed;
	top: 1655px;
	right: 140px;
	opacity: 0.7;
}



.firefox-gnews:hover, .firefox-twitch:hover, .firefox-yt:hover, .github-yt:hover, .github-twitch:hover, .github-gnews:hover, .contact:hover, .paypal:hover {
	opacity: 1;
	color: #A68ED2;
}


.demo-icon {
	font-family: "fonts";
    font-style: normal;
    font-weight: normal;
    speak: none;
	margin-left: .2em;
	font-size: 280%;
	color: white;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}